body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;

  background-color: lightgrey;
}

footer {
  margin-top: auto;
}



.card {
  background-position: bottom;
  background-size: cover;
  min-height: 250px;
}
 #hangman{
   background-image: url("../images/laptop-glasses.jpg");

 }

 #rpg{
   background-image: url("../images/laptop-icons.jpg");
 }

 #trivia{
   background-image: url("../images/laptop-notes.jpg");
 }

 #widget{
   background-image: url("../images/laptop-phone.jpg");
 }

 #scissors{
   background-image: url("../images/laptop-touchscreen.jpg");
 }

  @media screen and (min-width: 576px) {
    .about-img{
      width: 50%;
      float: left!important;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

    @media screen and (min-width: 768px) {
    .about-img{
      width: 33%;
      float: left!important;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 575px){
    .dev-name{
      display: flex;
      width: 100%;
    }
  }